################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataLayer/.vs/DataLayer/FileContentIndex/220b9575-8251-44e8-b386-cae34ce8d2ab.vsidx
/DataLayer/.vs/DataLayer/FileContentIndex/d2e3a8b6-b3dc-49e0-9fef-56a5988fb5b2.vsidx
